.cards{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 21px;
    grid-column-gap: 18px;
    margin: 0 auto;
    width: 100%;
}

