.profile__cover{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .profile__cover{
        justify-content: center;
    }  
 }