.content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0 auto; 
    margin-top: 41px;
    width: calc(100% - 38px);
    max-width: 882px;
}