.button__add{
    margin-right: 0;
    margin-left: auto;
    height: 50px;
    width: 150px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../../images/add-button-plus.svg);
    background-position: center, center;
    background-repeat: no-repeat;
 }
 
 @media screen and (max-width: 700px) {
    .button__add{
       width: 100%;
       max-width: 400px;
       margin-top: 36px;
       margin-right: auto;
    }  
 }