.profile__name{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 /*   width: 100%; */
    grid-area: user-name;
}

@media screen and (max-width: 700px) {
    .profile__name{
        font-size: 27px;
        line-height: 56px;
    }  
 }
