.button__edit{
    margin-left: 17px;
    margin-bottom: 13px;
    height: 24px;
    width: 24px;
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/edit-button-pen.svg);
    background-position: center, center;
    background-repeat: no-repeat;
 }
 