.profile__info{
    display: grid;
 /*   margin: auto; */
    grid-template-rows: auto auto ;
    grid-template-columns: 1fr 24px;
    grid-gap: 16px;
    align-items: center;
    grid-template-areas:
    "user-name edit-profile"
    "user-job user-job"; 
    margin-right: 8px;
}