.button_save{
    height: 50px;
    background-color: black;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 550px) {
    .button_save{
        font-size: 14px;
        line-height: 17px;
    }
 }